body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

section {
  position: relative;
}

.main > section {
  margin: 40px auto;
  text-align: center;
}

.main > section > h1 {
  margin: 20px 0 5px;
  font-weight: lighter;
}

.main > section > h2 {
  margin: 5px 0 10px;
  font-weight: lighter;
  font-size: 16px;
}

.container {
  position: relative;
}

.my-polygon-1 {
  transition: all 0.5s ease;
}

.my-polygon-1 polygon {
  fill: #359E2F;
  transition: all 0.5s ease;
  animation: color-change 3s infinite;
  -webkit-animation: color-change 3s infinite;
}

.my-polygon-1:hover {
  transform: rotate(360deg) scale(0.5);
  
}

.my-polygon-1:hover polygon {
  animation: color-change 0.5s infinite;
  -webkit-animation: color-change 0.5s infinite;
}

@-webkit-keyframes color-change {
    0%    {fill: #359E2F;}
    50%   {fill: #29C2BF;}
    100%  {fill: #359E2F;}
}

@keyframes color-change {
    0%    {fill: #359E2F;}
    50%   {fill: #29C2BF;}
    100%  {fill: #359E2F;}
}

.my-polygon-2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.my-polygon-2 polygon {
  transition: all 1s ease;
  fill-opacity: 0.3;
  stroke: #000;
  stroke-width: 2px;
}

.my-polygon-3 {
}

.my-polygon-3 polygon {
  fill-opacity: 0.5;
  fill: #DEDEDE;
}